# 1. Imports

In [1]:
import glob
import pandas as pd
import numpy as np

# 2. Load & look at data

## 2.1 IX.br

In [2]:
path_to_ixbr_peeringdb_files = '../../data/processed/peeringdb/ixbr'
ixbr_peeringdb_file_a = np.array(glob.glob(path_to_ixbr_peeringdb_files + '/*_07_*'))
ixbr_peeringdb_file_a = np.sort(ixbr_peeringdb_file_a)

In [3]:
ixbr_peeringdb_df = pd.read_csv(ixbr_peeringdb_file_a[-1], header='infer', sep=',')

In [4]:
ixbr_peeringdb_df.shape

(31, 2)

In [5]:
ixbr_peeringdb_df

   iata_code              city_name
0         se                Aracaju
1         mg         Belo Horizonte
2        bel                  Belém
3         df               Brasília
4        cpv         Campina Grande
5        cas               Campinas
6        cxj          Caxias do Sul
7        cgb                 Cuiabá
8         pr               Curitiba
9         sc          Florianópolis
10        ce              Fortaleza
11       igu          Foz do Iguaçu
12       gyn                Goiânia
13       jpa            João Pessoa
14       laj                Lajeado
15       lda               Londrina
16       mcz                 Maceió
17       mao                 Manaus
18       mgf                Maringá
19       nat                  Natal
20        rs           Porto Alegre
21        pe                 Recife
22        rj         Rio de Janeiro
23        ba               Salvador
24       ria            Santa Maria
25       sjp  São José do Rio Preto
26       sjc    São José dos Campos
27       slz               São Luís
28        sp              São Paulo
29       the               Teresina
30       vix                Vitória

## 2.2 CABASE

In [6]:
path_to_cabase_peeringdb_files = '../../data/processed/peeringdb/cabase'
cabase_peeringdb_file_a = np.array(glob.glob(path_to_cabase_peeringdb_files + '/*_07_*'))
cabase_peeringdb_file_a = np.sort(cabase_peeringdb_file_a)

In [7]:
cabase_peeringdb_df = pd.read_csv(cabase_peeringdb_file_a[-1], header='infer', sep=',')

In [8]:
cabase_peeringdb_df.shape

(28, 3)

In [9]:
cabase_peeringdb_df

   iata_code       city_name    asn
0        BHB    Bahia Blanca  52332
1        BRC       Bariloche  61441
2        BUE    Buenos Aires  11058
3        COR         Cordoba  52374
4        DLC  Santa Teresita  52370
5        JUJ           Jujuy  61521
6        JUN           Junin  61495
7        LPL        La Plata  52375
8        MDQ   Mar del Plata  52403
9        MZA         Mendoza  52360
10       NGB           Pilar  52508
11       NQN         Neuquen  52294
12       OGB          Moreno  61552
13       PER       Pergamino  61504
14       PMY   Puerto Madryn  52500
15       POS         Posadas  52404
16       RCN             NaN  52376
17        RS             NaN  61555
18       ROS         Rosario  52324
19       RST     Resistencia  64104
20       SFE        Santa Fe  52359
21       SLT           Salta  61520
22       SLU        San Luis  61494
23       SZP      Saenz Peña  52509
24       TDL          Tandil  64103
25       TUC         Tucuman  61505
26       UAQ        San Juan  61553
27       VDM          Viedma  61554

## 2.3 PIT Chile

In [10]:
path_to_pitchile_peeringdb_files = '../../data/processed/peeringdb/pitchile'
pitchile_peeringdb_file_a = np.array(glob.glob(path_to_pitchile_peeringdb_files + '/*_07_*'))
pitchile_peeringdb_file_a = np.sort(pitchile_peeringdb_file_a)

In [11]:
pitchile_peeringdb_df = pd.read_csv(pitchile_peeringdb_file_a[-1], header='infer', sep=',')

In [12]:
pitchile_peeringdb_df.shape

(6, 2)

In [13]:
pitchile_peeringdb_df

    city_name    asn
0       Arica  61527
1       Chile  64112
2  Concepcion  61524
3      Curicó  61525
4    Santiago  61522
5      Temuco  61526